::ng-deep .ql-editor {
    min-height: 200px;
  }
  
.ql-toolbar.ql-snow {
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  padding: 8px;
  background-color: mediumseagreen;
}
  